<carousel class="container-fluid">
  <slide>
    <!--Image has been given permission for sharing https://commons.wikimedia.org/wiki/File:2017_AFL_Grand_Final_second_quarter_(cropped).jpg-->
    <img
      src="../../assets/images/carousel1.jpg"
      alt="first slide"
      style="display: block; width: 100%; height:12.5em"
    />
    <div class="carousel-caption d-none d-md-block">
        <h3>Latrobe Betting</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>

    </div>
  </slide>
  <slide>
    <!-- Image has been given permission for sharing https://www.flickr.com/photos/anjsimmo/35621169392-->
    <img
      src="../../assets/images/carousel2.jpg"
      alt="second slide"
      style="display: block; width: 100%; height:12.5em"
    />
    <div class="carousel-caption d-none d-md-block">
      <h3>Get $100 on your first bet now</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </slide>
  <slide>
    <!-- Image has been given permission for sharing https://www.flickr.com/photos/sufw/5917585651-->
    <img
      src="../../assets/images/carousel3.jpg"
      alt="third slide"
      style="display: block; width: 100%; height:12.5em"
    />
    <div class="carousel-caption d-none d-md-block">
      <h3>Enjoy the match</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </slide>
</carousel>
