h1 {
  color: rgb(41, 69, 148);
  text-align: center;
}

#componentContainer {
  background: lightsteelblue;
  color: white;
  margin: 5px;
  width: 100%;
  height: 30em;
  overflow: auto;
  border: 1px solid #ccc;
}
a {
  background-color: white;
  color: #f44336;
  border: 2px solid #f44336;
  margin: 5px;
}

a:active {
  background-color: #f44336;
  color: #ffffff;
}

a:hover {
  background: red;
  color: white;
}

a:focus {
  background: #f44336;
  color: #ffffff;
}
