<div class="container-fluid" style="margin-top:50px">
  <div class="row">
    <div class="col-sm-2"></div>

    <div class="col-sm-2">
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="/prediction">Prediction of Win</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/team_results">Team Results</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/next_five_games">Next 5 Team Games</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Rival Matches</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="results_by_venue">Results by Venue</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="upcoming">Upcoming Games</a>
        </li>
      </ul>
      <hr class="d-sm-none" />
    </div>
    <!-- <div class="col-sm-6" style = "background-color: blueviolet">
            <h2>TITLE HEADING</h2>
            <p>Some text..</p>
            <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
            <br>
            <h2>TITLE HEADING</h2>
            <p>Some text..</p>
            <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
          </div> -->
    <!-- <div class = "col-sm-2">
              
          </div> -->
  </div>
</div>

<div style="margin-bottom:0">
  <!-- <p>Footer</p> -->
</div>
<router-outlet></router-outlet>
