<div class="container-fluid" style= "margin-top:5px">
        <div class="row">
            <div class= "col-sm-2">

            </div>

          <div class="col-sm-2">
            
            <ul class="nav nav-pills flex-column">
              <li class="nav-item">
                <a class="nav-link active" routerLink="/prediction">Prediction of Win</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/team_results">Team Results</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/next_five_games">Next 5 Team Games</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/rivals">Rival Matches</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/results_by_venue">Results by Venue</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"routerLink="/upcoming">Upcoming Games</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"routerLink="/wins_losses">Wins and Losses</a>
              </li>
            </ul>
            <hr class="d-sm-none">
          </div>
          <div class="col-sm-6">
            <router-outlet></router-outlet>
          <div class = "col-sm-2">
              
          </div>
        </div>
      </div>
      
      <div style="margin-bottom:0">
        <p>Copyright etc.</p>
      </div>