<div class="container-fluid">

  <div class="row">

    <div class="col-sm-12">
      <h1>Number of Wins/Losses</h1>
    </div>

  </div>

  <div class="row">

    <div class="col-sm-1"></div>
    
    <div class="col-sm-3">
      <h2>Team Logo</h2>
    </div>
    <div class="col-sm-3">
      <h2>Team Name</h2>
    </div>
    <div class="col-sm-2">
      <h2>Wins</h2>
    </div>
    <div class="col-sm-2">
      <h2>Losses</h2>
    </div>

    <div class="col-sm-1"></div>
    
  </div>

  <div class="row">

      <div class="col-sm-1"></div>

      <div class="col-sm-10" style ="border-style: solid; height:24em; overflow: auto;">
      <!--Body of component to be entered here-->

        <div id = "printResults"></div>

      </div>

      <div class="col-sm-1"></div>
  
  </div>

</div>