<form class="form-inline" style="float: right;">
  <div class="form-group" style="margin: 5px;">
    <input
      type="email"
      class="form-control"
      id="Email"
      aria-describedby="emailHelp"
      placeholder="Email"
    />
  </div>
  <div class="form-group" style="margin: 10px;">
    <input
      type="password"
      class="form-control"
      id="Password1"
      placeholder="Password"
    />
  </div>
  <button
    type="submit"
    class="btn btn-primary"
    style="margin-left: 25px; background-color: #7f0000; border-color: #7f0000;"
  >
    Login
  </button>
  <button type="submit" class="btn btn-success" style="margin: 5px;">
    Register
  </button>
</form>
