<div class="container-fluid">
    <div class = "row">
        <div class = "col-sm-2" style = "background-color: darkcyan;padding-bottom: 40px">
image
        </div>
        <div class = "col-sm-8">
                <h1>RANDOM BETTING SITE</h1> 
        </div>
        <div class = "col-sm-2" style = "background-color: darkcyan;padding-top: 40px">
                Login BUTTON
        </div>
    </div>
    <div class = "row" style = "background-color: darkviolet">
        <div class = "col-sm-2">

        </div>
        <div class = "col-sm-8" style="padding-top:70px">
            Search bar
        </div>
        <div class = "col-sm-2">
                ngIf in game- show score, 
                else show countdown to next match 
        </div>
    </div>
    <div class = "row">
        <div class = "col-sm-12" style = "background-color: dimgrey;padding-top: 15px;padding-bottom: 15px; text-align : center">
carousel
        </div>
    </div>
</div>
