<div class="container-fluid">
  <div class="row">
    <div
      class="col-sm-2"
      style="background-color: darkcyan;padding-bottom: 40px"
    >
      Logo
    </div>
    <div class="col-sm-8" style="background-color: darkcyan">
      <h1>La Trobe AFL Odds</h1>
    </div>
    <div
      class="col-sm-2"
      style="background-color: darkcyan;padding-top: 40px"
    ></div>
  </div>
  <div class="row" style="background-color: darkviolet">
    <div class="col-sm-2"></div>
    <div class="col-sm-8" style="padding-top:70px">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Match Search"
          aria-label="Match Search"
          aria-describedby="button-addon2"
        />
        <div class="input-group-append">
          <button class="btn btn-danger" type="button" id="button-addon2">
            Search
          </button>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      ngIf in game- show score, else show countdown to next match
    </div>
  </div>
  <div class="row">
    <div
      class="col-sm-12"
      style="background-color: dimgrey;padding-top: 15px;padding-bottom: 15px; text-align : center"
    >
      <app-carousel></app-carousel>
    </div>
  </div>
</div>
