<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6" style="background-color:lightsteelblue">
      <h1>La Trobe AFL Odds</h1>
    </div>
    <div class="col-sm-6" style="background-color: lightsteelblue;">
      <app-login-form></app-login-form>
    </div>
  </div>
  <div class="row" id="banner">
    <!-- This is not needed and has also been commented out in the CSS. Creates "busy" colour overlay
    <div class="color-overlay"></div>
    -->
    <div class="col-sm-2"></div>
    <div class="col-sm-8" style="padding-top:70px;">
      <div class="input-group mb-3">
        <input
          type="text"
          style="background-color:black; color: white;"
          class="form-control"
          placeholder="Match Search"
          aria-label="Match Search"
          aria-describedby="button-addon2"
        />
        <div class="input-group-append">
          <button class="btn btn-danger" type="button" id="button-addon2">
            Search
          </button>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <app-current-match></app-current-match>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12" style="background-color: lightsteelblue;">
      <app-carousel></app-carousel>
    </div>
  </div>
</div>
