.wrapper {
  display: grid;
  grid-template-columns: 30% 15% 15% 15% 30%;
  /* border: #000000;
  border-style: solid; */
  border: 2px solid #f76707;
  overflow: auto;
}

span {
  color: white;
  background-color: red;
  margin-left: 1em;
  margin-right: 2px;
}

h1 {
  margin-left: 5.5em;
}

.round {
  display: inline-block;
  text-align: right;
}

img {
  height: 7em;
  width: 10em;
  align-content: center;
}

.score {
  text-align: center;
  margin-top: 3em;
}

* {
  box-sizing: border-box;
}

.wrapper > div {
  background: #eee;
  padding: 1em;
}

.wrapper > div:nth-child(3) {
  background: black;
  color: white;
}

.wrapper > div:nth-child(1) {
  background: red;
  color: #eee;
}

.wrapper > div:nth-child(5) {
  background: red;
  color: #eee;
}
