.wrapper {
  display: grid;
  grid-template-columns: 45% 10% 45%;
  /* border: #000000;
  border-style: solid; */
  
  align-items: center;
  justify-items: center;
  overflow: auto;
}

.countdown {
  font-size: 1.5em;
  color: white;
  font-family: Roboto;
}

h5 
{
  color:white;
}

h6 {
  color: white;
  margin-top: 5px;
}

img {
  justify-content: center;
  width: 4em;
  height: 3em;
}
